table, th, td {border: 1px solid black; border-collapse: collapse}
.right {text-align: right}
tr.even {background-color: #FFEEEE}
td.right {text-align: right}
a {text-decoration: none}
a:hover {background-color:#FFCCCC;}
tr.click:hover {background-color:#FFCCCC;}
img.right {float: right}
