Adam J. Jackson <a.j.jackson@physics.org> Adam J. Jackson <a.j.jackson@bath.ac.uk>
Adam Arvidsson <adamar@chalmers.se>
addman <mail@example.com> addman <addman@Bobor>
addman <mail@example.com> addman <addman@X201>
addman <mail@example.com> addman <pravod@gmail.com>
Alejandro Pérez Paz <alejandroperezpaz@yahoo.com>
Alexander Sougaard Tygesen <atygesen@hotmail.com>
Alin M Elena <alin@elena.space>
Andrew Peterson <andrew_peterson@brown.edu> Andrew Peterson <Andrew Peterson andrew_peterson@brown.edu>
Andrew Peterson <andrew_peterson@brown.edu> anpet <anpet@5af997e4-4c3d-0410-961e-ac0512e437d9>
Andrew Rosen <rosen@u.northwestern.edu>
Andrey Sobolev <andrey.n.sobolev@gmail.com>
anro <anro@5af997e4-4c3d-0410-961e-ac0512e437d9>
Antoni Macià <antoni.macia@ub.edu>
Anubhab Haldar <jinxhaldar@gmail.com>
Ask Hjorth Larsen <asklarsen@gmail.com> askhl <askhl@5af997e4-4c3d-0410-961e-ac0512e437d9>
Asmus O. Dohn <asod@hi.is> Asmus O. Dohn <asmus.od@gmail.com>
Asmus O. Dohn <asod@hi.is> Asmus Ougaard Dohn <asmus.od@gmail.com>
Ben Blaiszik <blaiszik@uchicago.edu>
Bismarrck <Bismarrck@me.com>
Jonas Bjork <J.Bjork@liverpool.ac.uk> bjork <bjork@5af997e4-4c3d-0410-961e-ac0512e437d9>
Pedro Brandimarte <brandimarte@gmail.com> brandimarte <brandimarte@gmail.com>
Brandon Cook <brandongc@gmail.com>
Carsten Rostgaard <mail@example.com> carstenr <carstenr@5af997e4-4c3d-0410-961e-ac0512e437d9>
chripa <chripa@5af997e4-4c3d-0410-961e-ac0512e437d9>
Christoph Schober <christoph.schober@ch.tum.de> Christoph <christoph.schober@ch.tum.de>
David Landis <mail@example.com> dlandis <dlandis@5af997e4-4c3d-0410-961e-ac0512e437d9>
Marcin Dułak <mail@example.com> dulak <dulak@5af997e4-4c3d-0410-961e-ac0512e437d9>
Edward Tait <ewt23@cam.ac.uk>
Eric Hermes <erichermes@gmail.com> ehermes <ehermes@5af997e4-4c3d-0410-961e-ac0512e437d9>
Eric Hermes <erichermes@gmail.com> Eric hermes <ehermes@wisc.edu>
Eric Hermes <erichermes@gmail.com> Eric Hermes <ehermes@wisc.edu>
Eric Hermes <erichermes@gmail.com> ehermes <ehermes@wisc.edu>
Emmanuel FARHI <farhi@ill.fr>
Eric Dill <edill@bnl.gov>
Eric Prestat <eric.prestat@gmail.com>
Erik Fransson <karl.erik.fransson@gmail.com>
Esben Leonhard Kolsbjerg <esb@phys.au.dk> Esben Leonhard Kolsbjerg <esb@s81n11.grendel.cscaa.dk>
Esben Leonhard Kolsbjerg <esb@phys.au.dk> Esben Leonhard Kolsbjerg <esb@st-d05496.local>
fras <fras@5af997e4-4c3d-0410-961e-ac0512e437d9>
Gaël Donval <gdonval+gitlab@gmail.com>
Jeppe Gavnholt <mail@example.com> gavnholt <gavnholt@5af997e4-4c3d-0410-961e-ac0512e437d9>
George Tritsaris <mail@example.com> getri <getri@5af997e4-4c3d-0410-961e-ac0512e437d9>
Geun Ho Gu <ggu@login000.(none)>
Gianluca Levi <giale@kemi.dtu.dk>
GitLab <gitlab@gitlab.com>
Glen R. Jenness <glenjenness@gmail.com> Glen Richard Jenness <gjenness@login000.(none)>
Glen R. Jenness <glenjenness@gmail.com> gjenness <gjenness@5af997e4-4c3d-0410-961e-ac0512e437d9>
googhgoo <googhgoo@hotmail.com>
Lars Grabow <mail@example.com> grabow <grabow@5af997e4-4c3d-0410-961e-ac0512e437d9>
Graham Inggs <graham@nerve.org.za> Graham Inggs <graham.inggs+gitlab@gmail.com>
Grigory Smirnov <grsmirnov@gmail.com>
Heine Anton Hansen <mail@example.com> hahansen <hahansen@5af997e4-4c3d-0410-961e-ac0512e437d9>
Felix Hanke <mail@example.com> hanke <hanke@5af997e4-4c3d-0410-961e-ac0512e437d9>
Hong Li <hongli520@gmail.com>
Igor Mosyagin <@Hannelore c6h10o5@gmail.com>
ithod <thod_@gmx.de>
Ivan Kondov <ivan.kondov@kit.edu>
Ivano Castelli <ivano@chem.ku.dk>
Jacob Madsen <jamad@fysik.dtu.dk>
Jakob Blomquist <knjakob.blomquist@gmail.com> jakobb <jakobb@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jakob Blomquist <knjakob.blomquist@gmail.com> knjakob-blomquist <knjakob.blomquist@gmail.com>
Jakob Schiotz <schiotz@fysik.dtu.dk> schiotz <schiotz@5af997e4-4c3d-0410-961e-ac0512e437d9>
James Kermode <james.kermode@gmail.com> kermode <kermode@5af997e4-4c3d-0410-961e-ac0512e437d9>
jber <jber@5af997e4-4c3d-0410-961e-ac0512e437d9>
Janne Blomqvist <mail@example.com> jblomqvist <jblomqvist@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> jensj <jensj@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> Jens Jørgen Mortensen <jensj@jordan.fysik.dtu.dk>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> Jens Jorgen Mortensen <jensj@surt.fysik.dtu.dk>
Jens Jørgen Mortensen <jensj@fysik.dtu.dk> Jens Jørgen Mortensen <jjmo@dtu.dk>
Jesper Friis <jesper.friis@sintef.no> jesperf <jesperf@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jess Wellendorff <mail@example.com> jesswe <jesswe@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jakob Gath <jag@psibox.dk> jg <jag@psibox.dk>
Jin Chang <jchang@dtu.dk>
Jingzhe Chen <mail@example.com> jingzhe <jingzhe@5af997e4-4c3d-0410-961e-ac0512e437d9>
John Kitchin <jkitchin@cmu.edu> jk7683@kit.edu <jk7683@uc1n996.localdomain>
John Kitchin <jkitchin@cmu.edu> jk7683@kit.edu <jk7683@uc1n997.localdomain>
John Kitchin <jkitchin@cmu.edu> jkitchin <jkitchin@5af997e4-4c3d-0410-961e-ac0512e437d9>
Joakim Löfgren <joalof@chalmers.se> joalof <joalof@chalmers.se>
Joshua Lansford <lansford.jl@gmail.com> Joshua Lansford <Joshua Lansford>
Joshua Lansford <lansford.jl@gmail.com> JLans <lansford.jl@gmail.com>
Juan M. Lorenzi <jmlorenzi@gmail.com>
Jussi Enkovaara <mail@example.com> jussie <jussie@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jun Yan <mail@example.com> juya <juya@5af997e4-4c3d-0410-961e-ac0512e437d9>
Keenan Lyon <klyon@uwaterloo.ca>
Kristen Kaasbjerg <mail@example.com> kkaa <kkaa@5af997e4-4c3d-0410-961e-ac0512e437d9>
Jesper Kleis <mail@example.com> kleis <kleis@5af997e4-4c3d-0410-961e-ac0512e437d9>
Korina Kuhar <kokuha@fysik.dtu.dk>
krbt <krbt@5af997e4-4c3d-0410-961e-ac0512e437d9>
Karsten Wedel Jacobsen <kwj@fysik.dtu.dk> kwj <kwj@5af997e4-4c3d-0410-961e-ac0512e437d9>
Lars Pastewka <lars.pastewka@imtek.uni-freiburg.de> Lars Pastewka <lars.pastewka@kit.edu>
Lars Pastewka <lars.pastewka@imtek.uni-freiburg.de> pastewka <pastewka@5af997e4-4c3d-0410-961e-ac0512e437d9>
Lasse Vilhelmsen <mail@example.com> lassebv <lassebv@5af997e4-4c3d-0410-961e-ac0512e437d9>
Leon Avakyan <laavakyan@sfedu.ru>
Letif Mones <letif.mones@gmail.com>
Logan Ward <ward.logan.t@gmail.com>
Lukasz Mentel <lmmentel@gmail.com>
Lynza Sprowl <lynza.sprowl@gmail.com> Lynza Halberstadt <halbersl@oregonstate.edu>
Mads Engelund <mail@example.com> Mads Engelund <mads_engelund001@ehu.es>
Mads Engelund <mail@example.com> mads.engelund <mads.engelund@5af997e4-4c3d-0410-961e-ac0512e437d9>
Magnus Nord <Magnus.Nord@glasgow.ac.uk> Magnus Nord <magnunor@gmail.com>
Maja Lenz <lenz@fhi-berlin.mpg.de> Maja-Olivia Lenz <lenz@fhi-berlin.mpg.de>
Marc Barbry <marc.barbarosa@gmail.com> marc barbry <marc.barbarosa@gmail.com>
Marc Barbry <marc.barbarosa@gmail.com> marc barbry <marc.barbry@mailoo.org>
Marko Melander <marmela@dtu.dk>
Martin Hangaard Hansen <mhah@surt.fysik.dtu.dk> mhah <mhah@5af997e4-4c3d-0410-961e-ac0512e437d9>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias Ljungberg <mathias@captiveportal-10-100-14-106.local.su.se>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias Ljungberg <mathias@captiveportal-10-100-17-25.local.su.se>
Mathias Ljungberg <mathias.ljungberg@gmail.com> mathiasljungberg <mathias.ljungberg@gmail.com>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias Ljungberg <mathias@Mathiass-MacBook-Pro.local>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias Ljungberg <mathias@u020031.sw.ehu.es>
Mathias Ljungberg <mathias.ljungberg@gmail.com> Mathias <mathias.ljungberg@gmail.com>
Mazay <mazay0@gmail.com> mazay <mazay@mzh>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> Michael Walter <mcoywalter@gmail.com>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> Michael Walter <@ PC-L192 mcoywalter@gmail.com>
Michael Walter <Michael.Walter@fmf.uni-freiburg.de> miwalter <miwalter@5af997e4-4c3d-0410-961e-ac0512e437d9>
Miguel Caro <mcaroba@gmail.com>
Mikael Kuisma <mikael.j.kuisma@jyu.fi>
Mikkel Strange <mikst@fysik.dtu.dk> Mikkel Strange <strange@chem.ku.dk>
Mikkel Strange <mikst@fysik.dtu.dk> Strange, Mikkel (smikk) <mikst@fysik.dtu.dk>
Mikkel Strange <mikst@fysik.dtu.dk> strange <strange@5af997e4-4c3d-0410-961e-ac0512e437d9>
Morten Gjerding <mogje@fysik.dtu.dk> mogje <mogje@5af997e4-4c3d-0410-961e-ac0512e437d9>
mohpa <mohpa@5af997e4-4c3d-0410-961e-ac0512e437d9>
Morten Gjerding <mogje@fysik.dtu.dk> mortengjerding <mogje@fysik.dtu.dk>
Morten Gjerding <mogje@fysik.dtu.dk> Morten Gjerding <mogje@fysik.dtu.dk>
Morten Nagel <morten.nagel@helsinki.fi>
Poul Georg Moses <mail@example.com> moses <moses@5af997e4-4c3d-0410-961e-ac0512e437d9>
Marco Vanin <mail@example.com> mvanin <mvanin@5af997e4-4c3d-0410-961e-ac0512e437d9>
Maxime van den Bossche <maxime.cp.vandenbossche@gmail.com> mvdb <maxime.cp.vandenbossche@gmail.com>
Nicki Frank Hinsche <nickih@surt.fysik.dtu.dk>
Ole Schütt <ole.schuett@empa.ch> Ole Schuett <ole.schuett@empa.ch>
Ole Schütt <ole.schuett@empa.ch> Ole Schütt <oschuett@cp2k.org>
Ole Schütt <ole.schuett@empa.ch> oschuett <oschuett@5af997e4-4c3d-0410-961e-ac0512e437d9>
Oliver Brügner <oliver-bruegner@web.de>
Otto Kohulak <kohulak@Maxwell00> Otto Kohulák <pravod@gmail.com>
Markus Kaukonen <markus.kaukonen@iki.fi> paapu68 <markus.kaukonen@iki.fi>
Markus Kaukonen <markus.kaukonen@iki.fi> markus <markus@5af997e4-4c3d-0410-961e-ac0512e437d9>
Paul C. Jennings <jennings.p.c@gmail.com> Paul C. Jennings <pcje@surt.fysik.dtu.dk>
Paul Erhart <erhart@chalmers.se>
Paweł T. Jochym <pawel.jochym@ifj.edu.pl> Paweł T. Jochym <jochym@wolf.ifj.edu.pl>
Paweł T. Jochym <pawel.jochym@ifj.edu.pl> Pawel T. Jochym <pawel.jochym@ifj.edu.pl>
Pedro Brandimarte <brandimarte@gmail.com>
Per S. Schmidt <psisc@fysik.dtu.dk> psisc <psisc@5af997e4-4c3d-0410-961e-ac0512e437d9>
prtkm <prateekm@cmu.edu>
pvstishenko <pavelstishenko@yandex.ru>
pvst <pvst@localhost.localdomain>
Rasmus K <shandolad@gmail.com>
refreshx2 <jjmaldonis@gmail.com>
Robert Warmbier <Robert.Warmbier@wits.ac.za> rowue <rowue@5af997e4-4c3d-0410-961e-ac0512e437d9>
Christian Glinsvad <mail@example.com> s032082 <s032082@5af997e4-4c3d-0410-961e-ac0512e437d9>
s042606 <s042606@5af997e4-4c3d-0410-961e-ac0512e437d9>
s052580 <s052580@5af997e4-4c3d-0410-961e-ac0512e437d9>
Santiago Cingolani <santiago.cingolani@gmail.com>
schenkst <schenkst@5af997e4-4c3d-0410-961e-ac0512e437d9>
shrx <differenxe@gmail.com>
Simon Brodersen <mail@example.com> sihb <sihb@5af997e4-4c3d-0410-961e-ac0512e437d9>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <simonesturniolo@gmail.com>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <simone.sturniolo@stfc.ac.uk>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <wml08325@faraday.esc.rl.ac.uk>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> Simone <wml08325@scpc044.esc.rl.ac.uk>
Simone Sturniolo <wml08325@scpc044.esc.rl.ac.uk> stur86 <simonesturniolo@gmail.com>
Simon Rittmeyer <simon.rittmeyer@tum.de>
Matthias Slabanja <mail@example.com> slabanja <slabanja@5af997e4-4c3d-0410-961e-ac0512e437d9>
Steen Lysgaard <stly@dtu.dk> Steen Lysgaard <stly@surt.fysik.dtu.dk>
Steen Lysgaard <stly@dtu.dk> stly <stly@5af997e4-4c3d-0410-961e-ac0512e437d9>
Steen Lysgaard <stly@dtu.dk> stly <stly@dtu.dk>
Sten Haastrup <sthaa@mott.fysik.dtu.dk> Sten Haastrup <sten.haastrup@gmail.com>
tdd20@cam.ac.uk <tdd20@cam.ac.uk>
Thorsten Deilmann <thorsten.deilmann@uni-muenster.de>
Tiziano Müller <tiziano.mueller@chem.uzh.ch>
Tao Jiang <mail@example.com> tjiang <tjiang@5af997e4-4c3d-0410-961e-ac0512e437d9>
Thomas Olsen <mail@example.com> tolsen <tolsen@5af997e4-4c3d-0410-961e-ac0512e437d9>
Toma Susi <toma.susi@iki.fi>
Tom Daff <tdd20@cam.ac.uk>
Tristan Maxson <tgmaxson@gmail.com> Tristan G Maxson <tgmaxson@gmail.com>
Tristan Maxson <tgmaxson@gmail.com> tgmaxson <tgmaxson@5af997e4-4c3d-0410-961e-ac0512e437d9>
Tristan Maxson <tgmaxson@gmail.com> tgmaxson <tgmaxson@gmail.com>
Tuomas Rossi <tuomas.rossi@aalto.fi>
Yingchun Zhang <yczhang@smail.nju.edu.cn>
Yinjia Zhang <yz144@login001.oscar.ccv.brown.edu>
Zhenhua Zeng <zeng46@purdue.edu> zeng <zeng@5af997e4-4c3d-0410-961e-ac0512e437d9>
