# If you build the documentation in the source tree, you will create a
# lot of files that we don't want to see with "git status":
*.png
*.gif
*.pov
*.ini
*.traj
*.pdf
*.csv
*.txt
*.log
*.xyz
*.svg
*.db
*.pckl

# These are OK (images for the supported calculators):
!/doc/static/*.png
