

<div class="form-group">
    
    <label>
    {%if control in meta %}
      {{meta[control][1]}}
    {% else %}
      {{control}}
    {% endif %}
    </label>

    <div class="row">
        
        <div class="col-xs-3">

            <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {%if control in meta %}
                  {{meta[control][0]}}
                {% else %}
                  {{control}}
                {% endif %}
                <span class="caret"></span>
                </button>
                
                <ul class="dropdown-menu">

                    <li>
                        <a href="#" id="{{control}}-Reset" onclick="ControlFunction('COMBO', '{{control}}', 'Reset'); return false;">Reset</a>
                    </li>
                    
                    {% for item in ctrl[control][1] %}
                    <li>
                        <a href="#" id="{{control}}-{{item}}" onclick="ControlFunction('COMBO', '{{control}}', '{{item}}'); return false;">
                        {{item}}
                        </a>
                    </li>
                    {% endfor %}

                </ul>

            </div>

        </div>

        <div class="col-xs-4">
            <ul class="list-group">
            <li class="list-group-item" style="height: 31px; padding: 5px 15px;" id="{{control}}-result"></li>
            </ul>
        </div>

        <div class="col-xs-5">
        </div>

    </div> <!--END OF ROW-->

</div> <!--END OF FORM GROUP-->