
<!-- Custom js scripts -->
<!-- NB! needs html embedding in to access jinja2 -->
<script>
  //window.location.reload(true)
  
  function SetupSuggestions()
  {
    var jFormula = [];
    {% for formula in formulas %}
      jFormula.push('{{formula|safe}}');
    {% endfor %}
    
    jFormula = uniq(jFormula);
    
    sessionStorage.setItem("formula", JSON.stringify(jFormula));
  }
  
  function CopyCtrl()
  {
    {% set ctrl = md['special_keys'] or { } %}
    
    var cList = [];
    var cType = [];
    {% if ctrl|length != 0 %}
		  {% set colCount = {'iter': -1} %}
      {% for control in ctrl %}
        {% set colCount = {'iter': colCount['iter']+1} %}
        cList[{{colCount['iter']}}] = '{{ control }}';
        cType[{{colCount['iter']}}] = '{{ ctrl[control][0] }}';
      {% endfor %}
    {% endif %}
    
    sessionStorage.setItem("ctrlKeys", JSON.stringify(cList));
    sessionStorage.setItem("ctrlType", JSON.stringify(cType));
  }
  
  window.onload = function()
  {
    // reset collapse if a new session id is given
    if( sessionStorage.cid !== "{{cid}}")
    {
      sessionStorage.removeItem('collapseExtraSearch');
      
      // 
      // setup suggestions, // no way of breaking a for loop in jinja2
      SetupSuggestions();
      
      //
      // setup controls
      CopyCtrl();
    }

    ns.Init("{{ con.query|safe }}");

    // save the session id
    sessionStorage.cid = {{cid}};
    
    //$( "#formula-result" ).onchange = function()
    document.getElementById("formula-result").onchange = function()
    {
        ns.SetField('formula', this.value);
    };    
    
    document.getElementById("formula-result").focus();
  }

</script>

<script src="{{ url_for('static', filename='table.js') }}"></script>