<!DOCTYPE html>
<html>
  <head>  
    <meta name="viewport" content="width-device-width, initial-scale=1.0">       
		
    {% include 'js.html' %}
    {% include 'style.html' %}

    {% block head %}
    {% endblock %}
    
    <title>{% block title %}{% endblock %}</title>

    <div class="container">
      <div class="row">
        <div class="col-xs-8">

          <div class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{proj}}
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">

              {% for proj_iter in projects %}
              <li>
                <a href="/?project={{ proj_iter[0] }}">{{proj_iter[1]}}</a>
              </li>
              {% endfor %}

            </ul>
          </div>
          
          <ol class="breadcrumb">
            {% for proj in projects %}
            <li>
              <a href="/?project={{ proj[0] }}">{{proj[1]}}</a>
            </li>
            {% endfor %}
          </ol>
        </div>
        
        <div class="col-xs-4 text-right">
          <ol class="breadcrumb">
            <li>
              <a href="https://cmr.fysik.dtu.dk/">CMR</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
          </ol>
          
        </div>
      </div> <!--end of row-->
    </div> <!--end of container-->
    
  </head>
  
  
  <body {% block BodySettings %}{% endblock %}>

  {% block content %}
  {% endblock %}
  
  </body>
</html>