{% extends 'layout.html' %}

{% block title %}
{{proj}} - Summary
{% endblock %}

{% block head %}
<!-- nothing extra here -->
{% endblock %}

{% block content %}

  {% set d = s.row %}
  {% set meta = md['key_descriptions'] or {} %}
  {% set secs = md['summary_sections'] or [] %} 
  
  
  {% if secs == [] %}
    {% set nometa = true %}
    {% set secs = [
      ['Basic Properties', 
        ['Item'],
        ['AXIS'],
        ['STRUCTUREPLOT']        
        ],
      ['Key Value Pairs', 
        ['Key'],
        ['FORCES']        
        ]
      ]
    %}
  {% endif %}
  

  <!-- a little setup-->
  {% set SPECIAL = ['STRUCTUREPLOT', 'AXIS', 'FORCES', 'BANDSTRUCT', 'PLOT'] %}
  {% set plotIs = {'plot': false} %}
  {% set plotList = {} %}

  {% set keyval1 = {} %}
  {% set keyval2 = {} %}

  {% for name, unit, value in s.table %}
  {% set _dummy = keyval1.update({name : (unit, value)}) %}
  {% endfor %}
  
  {% if nometa == true %}
  {% set _temp = [] %}
  {% for key in keyval1 %}
    {% set _dummy = _temp.append(key) %}
  {% endfor%}
  {% set _dummy = secs[0][1].append(_temp) %}
  {% endif %}

  {% for key, value in s.key_value_pairs %}
  {% set _dummy = keyval2.update({key: ('-', value)}) %}
  {% endfor %}
  
  {% if nometa == true %}
  {% set _temp = [] %}
  {% for key in keyval2 %}
    {% set _dummy = _temp.append(key) %}
  {% endfor%}
  {% set _dummy = secs[1][1].append(_temp) %}
  {% endif %}
  
  {% set keyval = keyval1 %}
  {% set _dummy = keyval.update(keyval2) %}

  <div class="container">

    

    {% for name, unit, value in s.table %}
    {% if name == "formula" %}
    {% set formulaStr = value|safe %}
    <h1>
    {{ value|safe }}
    </h1>
    {% endif %}
    {% endfor %}

    <div class="panel-group">

      {% set secCount = {'count' : 0} %}
      {% for sec in secs %}
      {% set _dummy = secCount.update({'count' : secCount['count']+1}) %}
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="btn-block" data-toggle="collapse" href="#collapse{{secCount['count']}}">
              {{ sec[0] }}
            </a>
          </h4>
        </div>
        {% if secCount['count'] == 1 %}
        <div id="collapse{{secCount['count']}}" class="panel-collapse collapse in">
        {%else%}
        <div id="collapse{{secCount['count']}}" class="panel-collapse collapse">
        {% endif %}
          <div class="panel-body">
            {% set half = ((sec|length)/2) | int %} <!-- careful with jinja2 parsing -->
            
            <div class="row myrow">
              
              <div class="col-xs-1"></div>
              <div class="col-xs-5">
                {% for index in range(1, sec|length) %}
                
                {% if index == half+1 %}
                </div>
                <div class="col-xs-5">
                {% endif %}
                
                {% if not sec[index][0] in SPECIAL %}
                <table class="table table-striped">
                  <colgroup>
                    <col class="col-xs-7">
                    <col class="col-xs-3">
                    <col class="col-xs-2">
                  </colgroup> 
                  <thead>
                    <tr>
                      <th>{{sec[index][0]}}</th>
                      <th class="text-center">Value</th>
                      <th class="text-center">Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in range(0, sec[index][1]|length) %}                    
                    {% set name = sec[index][1][item] %}                    
                    {% if name in keyval %}
                    {% if name in meta %}
                      <tr>
                        <td> {{ meta[name][1] }} </td>

                        {% if meta[name][2] == 'float' %}
                        <td class="text-center"> {{ keyval[name][1] | round(3, 'common') }} </td>
                        {% else %}
                        <td class="text-center"> {{ keyval[name][1] | safe }} </td>
                        {% endif %}

                        {% if meta[name][2] == 'float' %}
                        <td class="text-center"> eV </td>
                        {% else %}
                        <td class="text-center"> - </td>
                        {% endif %}

                      </tr>
                    {% else%}
                      <tr>
                        <td> {{ name }} </td>
                        <td class="text-center"> {{ keyval[name][1] | safe }} </td>
                        <td class="text-center"> {{ keyval[name][0] }} </td>
                      </tr>                    
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}

                  {% if sec[index][0] == 'STRUCTUREPLOT' %}
                  
                    {% if d.numbers|length %}
                    {% if open_ase_gui %}
                    <a href="/gui/{{ d.id }}">
                      <img src="/image/{{ d.id }}.png">
                    </a>
                    {% else %}
                    <div id="appdiv"></div>
                    Unitcell: <button onclick="repeatCell(1)"> Single </button>
                    <button onclick="repeatCell(2)"> 2x2x2</button>

                    {% endif %}
                    {% endif %}
                    
                  {% elif sec[index][0] == 'AXIS' %}
                  
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Axis</th>
                          <th>x</th>
                          <th>y</th>
                          <th>z</th>
                          <th>Periodic</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for axis in s.cell %}
                        <tr>
                          <td>{{ loop.index }}</td>
                          {% for a in axis %} <td>{{ a }}</td>{% endfor %}
                          <td>{{ d.pbc[loop.index0] }}</td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>

                  {% elif sec[index][0] == 'FORCES' %}

                    {% if s.forces %}
                    <h4>Relaxtion forces in eV/å</h4>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>symbol</th>
                          <th>x</th>
                          <th>y</th>
                          <th>z</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for f in s.forces %}
                        <tr>
                          <td>{{ f[0] }}</td>
                          <td>{{ f[1] }}</td>
                          <td>{{ f[2] }}</td>
                          <td>{{ f[3] }}</td>
                          <td>{{ f[4] }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}

                  {% elif sec[index][0] == 'PLOT' %}

                    {% if sec[index][1] in s.plots %}
                      {% set _dummy = plotIs.update({'plot': true}) %}
                      {% set _dummy = plotList.update({sec[index][1]: true}) %}
                    {% endif %}

                  {% endif%}

                  {% endif %}
                  {% endfor %}

                </div>            
              <div class="col-xs-1"></div>

            </div> <!--END ROW-->

            <!--if there is a band structure put it here -->
            {% if plotIs['plot'] == true %}
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-10">
                <center>
                  {% for name in plotList %}
                  <img src="/plot/{{ name }}-{{ d.id }}.png">                  
                  {% endfor %}
                </center>
              </div>
              <div class="col-xs-1"></div>
            </div>
            {% set _dummy = plotIs.update({'plot': false}) %}
            {% endif %}

          </div> <!--END PANEL BODY-->
        </div> <!--END COLLAPSE-->
      </div> <!--END PANEL-->
    {% endfor %}
  </div> <!--END PANEL GROUP-->

{% endblock content %}