{% extends "layout.html" %}
{% block title %}Browse ASE database{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='table.js') }}"></script>
{% endblock %}
{% block content %}
<form action="/">
Search: <input type=text name=query value="{{ t.query }}" onchange="this.form.submit()"><br>
Rows: {{ t.rows|length }}
Limit:
<input type=text name=limit value={{ t.limit }} onchange="this.form.submit()">
</form>
Download:
<a href="/sqlite">db</a>,
<a href="/json">json</a>,
<a href="/csv">csv</a>
<br>
Add/remove key-column:
{% for key in t.keys -%}
<a href="/?toggle={{ key }}">{{ key }}</a>{% if not loop.last %},{% endif %}
{% endfor %}

<table id=rows>
    <tr>
{%- for c in t.columns %}
        <th>
        {% if t.sort == c %}v {% elif t.sort == '-' + c %}^ {% endif -%}
        <a href="/?sort={{ c }}">{{ c }}</a>
            <a href="/?toggle={{ c }}">-</a>
        </th>
{%- endfor %}
    </tr>
{% for row in t.rows -%}
    {% set n = loop.index0 %}
    <tr class="click {{ loop.cycle('even', 'odd') }}"
        onclick="open_row(this, {{ n }});">
    {%- autoescape false -%}
    {%- for s in row.strings -%}
        {% if t.right[loop.index0] -%}
        <td class=right>{{ s }}</td>
        {% else %}
        <td>{{ s }}</td>
        {% endif %}
    {% endfor %}
    {% endautoescape %}
    </tr>
    {% if row.more %}
    {% include "more.html" %}
    {% endif %}
{% endfor %}
</table>
Keywords found: {{ t.keywords|join(', ') }}
<br>
{% endblock content %}
