<!doctype html>
{% set d = s.dct %}
<title>Summary</title>
<link rel=stylesheet type=text/css href="/style.css">
<a href="/?m=gui&id={{ d.id }}">
<img src="/{{ d.id }}.png">
</a>
<form action="/{{ d.id }}">
    <select name=extract onchange="this.form.submit()">
    <option value=db>db</option>
    <option value=json>json</option>
    <option value=csv>csv</option>
    <option value=py>py</option>
    </select>
    <br>
</form>
<table>
{% for name, value in s.table %}
    <tr class={{ loop.cycle('even', 'odd') }}>
        <td>
        {{ name }}
        </td>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>
Unit cell in Ang:
<table>
<tr><td>axis</td><td>periodic</td><td>x</td><td>y</td><td>z</td></tr>
{% for axis in s.cell %}
<tr><td>{{ loop.index }}</td>
<td>{{ d.pbc[loop.index0] }}</td>
{% for a in axis %} <td>{{ a }}</td>{% endfor %}</tr>
{% endfor %}
</table>
