<!doctype html>
<title>Browse ASE database</title>
<link rel=stylesheet type=text/css href="/style.css">
<form action="/">
    <input type=text name=query value="{{ t.query }}" onchange="this.form.submit()">
    <input type=text name=sort value="{{ t.query }}">
    <select name=addcolumn onchange="this.form.submit()">
    <option value=a1>a1</option>
    <option value=a2>a2</option>
    <option value=a3>a3</option>
    </select>
    <select name=extract onchange="this.form.submit()">
    <option value=db>db</option>
    <option value=json>json</option>
    <option value=csv>csv</option>
    <option value=py>py</option>
    </select>
    <br>
Found {{ t.totalrows }} rows (showing first {{ t.rows|length }})
Limit:
<input type=text name=limit value={{ t.limit }}>
</form>
<table>
    <tr>
        <th></th>
{% for c in t.columns %}
        <th>{{ c }}
            <a href="/?m=remove&column={{ c }}">-</a>
        </th>
{%- endfor %}
    </tr>
{% for row in t.rows %}
    {% set n = loop.index0 %}
    <tr class={{ loop.cycle('even', 'odd') }}>
        <td>
            <a href="/?m=toggle&n={{ n }}">
                {{ '+-'[row.more] }}
            </a>
        </td>
    {% for s in row.strings %}
        {% if t.right[loop.index0] -%}
        <td class=right>{{ s }}</td>
        {% else %}
        <td>{{ s }}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% if row.more %}
    <tr>
        <td colspan={{ row.strings|length + 1 }}>
            <a href="/?m=gui&n={{ n }}">
                <img src="/{{ row.dct.id }}.png">
            </a>
        {% for key, value in row.dct.key_value_pairs.items() %}
            <a href="/?m=toggle&key={{ key }}">{{ key }}</a>:{{ value }}
        {% endfor %}
        {% if row.dct.keywords %}
        <br>
        Keywords: {{ row.dct.keywords|join(' ') }}
        {% endif %}
        <br>
        Unit-cell: [
        {%- for axis in row.cellstring -%}
        {% if row.dct.pbc[loop.index0] %} <span> {% else %} <span class=notperiodic> {% endif -%}
        {{ axis }}</span>{% if not loop.last %}, {% endif -%}
        {% endfor %}] <a href="/{{ row.dct.id }}">more ...</a>
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>
